# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Popular languages for Data Science
- Common libraries used by Data Scientists
- Data Science Tools
- Evaluating arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. TensorFlow

| Data Science Tools |
| ------------------ |
|      RStudio       |
|  Jupyter Notebooks |
|     JupyterLab     |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
#  This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Genesis Santiago Jr.